*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:linear-gradient(
        to right,
        #ffecd2,
        #fcb69f
    );
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    position:sticky;
    top:0;
    z-index:1000;
}
.logo-section{
    display:flex;
    align-items:center;
    gap:10px;
}
.logo-img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.logo-text{
    font-size:30px;
    font-weight:bold;
    color:#5a2d0c;
}
.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}
.nav-links li{
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    color:#5a2d0c;
    transition:0.3s;
}
.nav-links li:hover{
    color:white;
    transform:scale(1.1);
}
@media (max-width:768px){
    .navbar{
        flex-direction:column;
        padding:20px;
    }
    .nav-links{
        margin-top:15px;
        gap:15px;
        flex-wrap:wrap;
        justify-content:center;
    }
    .logo-text{
        font-size:24px;
    }
}